:root {
    --primary: #fdfdfd;
    --forecastcolor: #1c2840;
  }

  
  body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    color: var(--forecastcolor);
    line-height: 1.5;
    font-size: 16px;
  }
  
  main{
      padding:10px;
      display:flex;
      flex-wrap:wrap;
  }


  
  /* CARDS & Containers*/

  .page-header {
    color: var(--primary);
    background-image: linear-gradient(
        rgb(2, 0, 57) 0%,
        rgba(30, 3, 100, 0.6) 100%
      );
    padding: 2.5%;
    text-align:center;

  }

  .search-card{
    padding:20px;
    background-color:aliceblue;
    width:25%;
    display:inline-block;

  }

  /* If a city has not been searched yet, do not show anything in the main body*/
  .results-card-hide{
    margin:5px 10px 5px 10px;
    display:inline-block;
    height:100%;
    width:70%;
    visibility:hidden;

  }
  /*If a city has been searched, show results in the main body */
  .results-card-show{
    margin:5px 10px 5px 10px;
    display:inline-block;
    height:100%;
    width:70%;
    visibility:visible;

  }

  .city-card {
    margin: 0 0 20px 0;
    padding: 20px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
.five-day-card{
    display:flex;
    justify-content:space-between;
}

.forecast-card{
    padding:5px;
    margin: 5px;
    background-color: var(--forecastcolor);
    color: var(--primary);
    display: inline-block;
    min-width: 150px;
    

}
  #city-history{
      margin-top: 20px;
      padding-top: 10px;
      border-top: 3px solid var(--forecastcolor);
  }

  
  /* FORM and buttons*/
  .form-input,
  .custom-button {
    display: block;
  }
  
  
  .form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 16px;
  }
  
  .custom-button{
      width:100%;
      margin-top:5px;
  }

  /*UV Index Ratings*/

  .UVGreen{
    color: white;
    background-color:green;
    padding:3px;
    display: inline-block;
    width: 50px;
    border-radius:15%;
    text-align:center;
  }

  .UVModerate{
    color: black;
    background-color:hsl(60, 89%, 49%);
    padding:3px;
    display: inline-block;
    width: 50px;
    border-radius:15%;
    text-align:center;
  }

  .UVHigh{
    color: black;
    background-color:rgb(226, 154, 10);
    padding:3px;
    display: inline-block;
    width: 50px;
    border-radius:15%;
    text-align:center;
  }

  .UVVeryHigh{
    color: white;
    background-color:rgb(128, 0, 0);
    padding:3px;
    display: inline-block;
    width: 50px;
    border-radius:15%;
    text-align:center;
  }

  .UVExtreme{
    color: white;
    background-color:rgb(100, 40, 100);
    padding:3px;
    display: inline-block;
    width: 50px;
    border-radius:15%;
    text-align:center;
  }

  footer{
    text-align: center;
  }
